::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--branco);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--preto);
    border-radius: 4px;
}
